<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ static_url("style.css") }}">
		<title>修改内容并保存</title>
	</head>
	<body>
		<h1>修改的包保存在共享cbzr/SDK/中</h1>
		<p>Enter two texts below. The replacement text will have its words
		replaced by words beginning with the same letter in the source text.</p>
		<form action='' enctype="multipart/form-data" method='post'>
			<div><img width=76 height=76 src="{{ static_url("images/icon.png") }}"/><input type='file' name='icon.png'/><br/></div>
			<div><img width=86 height=76 src="{{ static_url("images/logo.png") }}"/><input type='file' name='logo.png'/><br/></div>
			<div><img width=176 height=76 src="{{ static_url("images/union_background.jpg") }}"/><input type='file' name='union_background.jpg'/><br/></div>
			<!-- <div><img width=76 height=76 src="{{ static_url("images/logo.png") }}"/><input type='file' name='logo'/><br/></div> -->
			<input type='submit' value='提交'/>
		</form>
		<form method="post" action="/poem">
			{% for each_key in xmlkey %}
			<p>{{each_key}}<br><textarea rows=1 cols=55 name = {{each_key}} >{{configData[each_key]}}</textarea></p>
			{% end %}
			<input type="submit">
		</form>
	</body>
</html>
